name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
    - name: Build core features
      run: cargo build --verbose
    - name: Build all featuers
      run: cargo build --features full
    - name: Run tests
      run: cargo test --verbose
